<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>

  <appSettings>
    <add key="SubscriptionID" value="21" />
    <add key="SubscriptionStatus" value="" />
  </appSettings>
  <connectionStrings>

    <add name="connectionstring" connectionString="Data Source=10.50.0.102; Initial Catalog=6ixxerdb; User ID=6ixxer; Password=fast_12345678" />
    <!--<add name="connectionstring" connectionString="Data Source=.;Initial Catalog=6ixxerdb;Integrated Security=True"/>-->
  </connectionStrings>
  <system.web>
    <machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA" decryptionKey="123456789012345678901234567890123456789012345678" validation="SHA1" decryption="Auto" />
    <urlMappings enabled="true">

      <add url="~/default" mappedUrl="~/Default.aspx" />

    </urlMappings>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151000"/>
    <pages buffer="true" validateRequest="false"/>
    <authentication mode="Forms"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" timeout="600"></sessionState>
    <customErrors mode="Off" defaultRedirect="http://www.6ixxerrummy.online">
      <error statusCode="404" redirect="http://www.6ixxerrummy.online"/>
    </customErrors>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
  </system.web>
  <system.webServer>
   
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter"  type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </modules>
    <rewrite>
      <rules>
        <clear/>
        <rule name="staticos" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*.js"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="None"/>
        </rule>
        <rule name="aspx resources" stopProcessing="true">
          <match url="(.+)\.aspx$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        </rule>
        <rule name="html resources" stopProcessing="true">
          <match url="(.+)\.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        </rule>
        <rule name="htm resources" stopProcessing="true">
          <match url="(.+)\.htm$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        </rule>
        <rule name="txt resources" stopProcessing="true">
          <match url="(.+)\.txt$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        </rule>
        <rule name="xml resources" stopProcessing="true">
          <match url="(.+)\.xml$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        </rule>
        <rule name="axd resources" stopProcessing="true">
          <match url="(.+)\.axd$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        </rule>
        <rule name="ashx resources" stopProcessing="true">
          <match url="(.+)\.ashx$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
        </rule>

        <rule name="~ home ~" stopProcessing="true">
          <match url=".*execute.xml"/>
          <action type="None"/>
        </rule>
        <rule name="Pages" stopProcessing="true">
          <match url="^([^/]+)$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="{R:1}.aspx" appendQueryString="true"/>
        </rule>
        <rule name="Redirect seeautomation.com to www" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="6ixxerrummy.online" />
          </conditions>
          <action type="Redirect" url="http://www.6ixxerrummy.online/{R:0}" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>

  <rewriter>

    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.xml|\.pdf|\.axd|\.css|\.js)(\?.+)?)$" to="$1" processing="stop" />
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.xml|\.pdf|\.axd|\.css|\.js)(\?.+)?)$" to="$1" processing="stop" />


  </rewriter>
</configuration>
